﻿@{
    ViewData["Title"] = "Create";
}
@model Skill

<h1>Beceri Oluştur</h1>
<form asp-controller="Skills" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="SkillName" class="form-label">Beceri Giriniz</label>
        <input asp-for="SkillName" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="SkillDescription" class="form-label">Beceri Açıklaması</label>
        <input asp-for="SkillDescription" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
<<<<<<< HEAD
</form>
=======
</form>
>>>>>>> 21d2f011126ba6a75584e3b7181e2075de6c8aa7
