@{
    ViewData["Title"] = "Index";
}
@model List<Skill>
<h1>Skill Listesi</h1>
<a class="btn btn-outline-primary" asp-controller="Skills" asp-action="Create">Beceri Ekle</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SkillID</td>
                <td>@item.SkillName</td>
                <td>@item.SkillDescription</td>
            </tr>
        }
    </tbody>
</table>

