@model Equipment

@{
    ViewData["Title"] = "Edit";
}

<h1>Düzenle</h1>

<h4>Ekipman Bilgisi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Equipments" method="post">
            <div class="text-danger"></div>
            <div class="form-group">
          
                <input type="hidden" asp-for="EquipmentID" class="form-control" />
              
            </div>
            <div class="form-group my-2">
                <label asp-for="EquipmentName" class="control-label"></label>
                <input asp-for="EquipmentName" class="form-control" />
            </div>
            <div class="form-group my-1">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success" asp-action="Index">Listeye geri dön</a>
</div>

